body{
  height: 100vh;
  background-color: #f9fafb;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnGroup{
  position: relative;
  z-index: 0;
  display: inline-flex;
  border-radius: 0.375rem;
}
.btn{
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-width: 1px;
  border-color: #B24242;
  font-size: 21px;
  line-height: 1.25rem;
  font-weight: 500;
  cursor: pointer;
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.btn-decrement{
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  background-color: white;
  color: #B24242;
  width: 60px;
  height: 56px;
}
.input-count{
  background-color: #FBE8E8;
  color: #B24242;
  margin-left: -1px;
  width: 30px;
  height: 38px;
  text-align: center;
}
.btn-increment{
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  background-color: #B24242;
  color: white;
  margin-left: -1px;
  width: 60px;
  height: 56px;
}
.counterValue{
  font-size: 12px;
  font-weight: 500;
  margin-top: 10px;
}